<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insightify</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/ef4db14556.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--- Navbar Section-->
    <nav class="navbar">
        <div class="navbar_container">
            <div class="logo_container">
                <img src="images/logo.png" alt="pic" id="logo_img">
                <div id="navbar_logo">Insightify</div>
            </div>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/" class="navbar_links"> Home </a>
                </li>
                <li class="navbar_item">
                    <a href="/tech.html" class="navbar_links"> Products </a>
                </li>
                <li class="navbar_item">
                    <a href="/" class="navbar_links"> History </a>
                </li>
                <li class="navbar_btm">
                    <button class="button" onclick="redirectToSignUp()">Sign up</button>
                <script>
                    function redirectToSignUp() {
                        window.location.href = '/login';
                    }
                </script>  
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="main">
        <div class="main_container">
            <div class="main_content">
                <h1> NEXT GENERATION </h1>
                <h2> TECHNOLOGY </h2>
                <p> See what makes us different. </p>
                <button class="main_btn"><a href="/"> Get Started </a></button>
            </div> 
            <div class="main_img--container">
                <img src="images/pic2.png" alt="pic" id="main_img">
            </div>
        </div>
    </div>

    <!-- Service Section -->
    <div class="services">
        <h1>See what the hype is about</h1>
        <div class="service_container">
            <div class="service_card">
                <h2>Experience Bliss</h2>
                <p>AI Powered Technology</p>
                <button>Get Started</button>
            </div>
            <div class="service_img--container">
                <img src="images/pic1.png" alt="pic" id="service_img">
            </div>
            <div class="service_card">
                <h2>Are you Ready?</h2>
                <p>Take the leap</p>
                <button>Get Started</button>
            </div>
            <div class="service_img--container">
                <img src="images/pic3.png" alt="pic" id="service_img">
        </div>
    </div>


    <!-- Footer Section -->
    <div class="footer">
        <div class="col-1">
            <h3>USEFUL LINKS</h3>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <a href="#">Shop</a>
            <a href="#">Blog</a>
        </div>
        <div class="col-2">
            <h3>NEWSLETTER</h3>
            <form>
                <input type="email" placeholder="Your Email Address" required>
                <br>
                <button type="submit">SUBSCRIBE NOW</button>
            </form>
        </div>
        <div class="col-3">
            <h3>CONTACT</h3>
            <p>30 N Brainard St, <br>Naperville, IL 60540</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61558126498694"><i class="fa-brands fa-facebook"></i> </a>
                <a href="https://twitter.com/Insightify72318"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/xinsightify/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://discord.com/channels/@insightify"><i class="fa-brands fa-discord"></i></a>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>


