<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insightify</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/ef4db14556.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--- Navbar Section-->
    <nav class="navbar">
        <div class="navbar_container">
            <div class="logo_container">
                <img src="images/logo.png" alt="pic" id="main_img">
                <div id="navbar_logo">Insightify</div>
            </div class="button_container">
                <form action="/logout?_method=DELETE" method="POST">
                <button class="button" type="submit">Log Out</button>
            </form>
            </div>

            
            
            
            
    
</body>
</html>

